@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #0f0f0f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
  --animate-radar: radar 1.5s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes radar {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.6);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 255, 0, 0);
  }
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
/* End Custom Scrollbar */

* {
  @apply font-inter;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* custom toast styles */
.Toastify__toast {
  font-family: var(--font-inter);
  @apply text-sm;
}

.Toastify__progress-bar--wrp {
  @apply h-0.5!;
}
